
//@import '~bootstrap';

//@import '~bootstrap/scss/_functions';
//@import '~bootstrap/scss/_variables';
////@import '~bootstrap/scss/_root';
////@import '~bootstrap/scss/_mixins';
//
//@import '~bootstrap/scss/mixins/breakpoints';
//@import '~bootstrap/scss/mixins/grid';
//@import '~bootstrap/scss/mixins/size';
////s
////@import '~bootstrap/scss/button-group';
$white-color:rgba(255,255,255,1);
$red-color:rgba(220, 53, 69,1);
$black-color:#1B1B1C;
$border-color:rgba(0,0,0,0.2);
$primary-color:rgba(0, 0, 0,1);
$default-color:rgba(0, 178, 114,1);



.btn-change-psw{
    background-color: $red-color!important;

}


.popular-product{
    margin-top:10px ;
    transition: all ease-in-out 500ms;
  //  float: right;
 //   background: $default-color;
   // color: $white-color;
    margin-right: 10px;
    padding: 5px 10px;
    box-shadow: -5px 5px 1px 0 rgba(0,0,0,0.4);
 //   margin-top: -42px;
}


.discounted-product{
    transition: all ease-in-out 500ms;
   // float: right;
 //   background: $red-color;
 //   color: white;
 //   margin-right: -160px;
    padding: 5px 10px;
    box-shadow: -5px 5px 1px 0 rgba(0, 0, 0, 0.4);
 //   margin-top: 11px;
}
//.discounted-product.only{
//    transition: all ease-in-out 500ms;
//    float: right;
//    background: $red-color;
//    color: white;
//    margin-right: -30px;
//    padding: 10px 20px;
//    box-shadow: -5px 5px 1px 0 rgba(0, 0, 0, 0.4);
//    margin-top: 11px;
//}
//
//.discounted-product.only:hover{
//     transition: all ease-in-out 500ms;
//     float: right;
//     background: $red-color;
//     color: white;
//    margin-right: -30px;
//     padding: 10px 20px;
//     box-shadow: -10px 8px 2px 0 rgba(0, 0, 0, 0.3);
//     margin-top: 11px;
//}



.view-more-btn{

  //  word-spacing: 10px;
    border: 1px dotted $default-color;
    margin-left: 10px;
    padding: 3px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    //border-radius: 10px;

}

.view-more-btn:hover{
    border: 1px dashed  $default-color;
    color: $default-color;
   //s font-weight: 500;
    //font-weight: 800;
}

.R-Mart-button-custom {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    height: 45px;
    letter-spacing: 0.025em;
    line-height: 45px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    width: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    background-color: $default-color;
    color: $white-color;
    cursor: pointer;


}

.R-Mart-button-custom:hover{

    background-color: $white-color;
    color: $default-color;
    border: 1px inset $default-color;
}

.R-Mart-button-2-custom:hover{
    background-color: $white-color;
    color: $black-color;
    border: 1px inset $black-color;

}

.R-Mart-button-2-custom{
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    width: 100%;
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    padding: 15px 32px;
    background-color: $black-color;

}
.add-to_cart{
   // margin-left: 20px;
margin-top: 10px;
    a{
      border-radius: 0px;
        font-size: 13px;
    //    max-width: 50%;
        margin: 0!important;
    }
}


.quantity-custom {
   // margin-right: 10px;
    margin-top: 10px;
    .cart-plus-minus {
        position: relative;
        width: 150px;
        text-align: left;
        height: 45px;
        overflow: hidden;
        > .cart-plus-minus-box {
            border: 1px solid $border-color;
            height: 45px;
            text-align: center;
            width: 150px;
            background: $white-color;
            font-size: 16px;
            font-weight: 600;
        }
        > .qtybutton {
            cursor: pointer;
            position: absolute;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            width: 35px;
            align-items:center;
            vertical-align: middle;
            color: $default-color;
            transition: .3s;
            &:hover{
                transition: .3s;
                background-color: $primary-color;
                i{
                    color: $white-color;
                }
            }
            &.dec {
                top: 50%;
                left: 0%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                height: 100%;
                border-right: 1px solid $border-color;
            }
            &.inc {
                top: 50%;
                right: 0%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                height: 100%;
                border-left: 1px solid $border-color;
            }
        }
    }
}

.no-data-found{
        ///min-width: 100vw;
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    padding: 20px 25px;
    margin-top: 25px;
    margin-bottom: 25px;

    text-transform: uppercase;

    img{
        margin: 40px 0px;
        padding: 0px 30px;
        max-height: 230px;

    }
    span{
        color: rgba(0, 178, 114,1);
        display: block;
        font-weight: 600;
        font-size: x-large;
    }

    .btn{

        margin-top: 20px;
        color: rgba(0, 178, 114,1);
        border:1px solid rgba(0, 178, 114,1);
        font-size: 16px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;


        .fa{
            padding-right: 15px;
        }
    }

    .btn:hover{

        margin-top: 20px;
        color: rgba(255, 255, 255,1);
        background-color: rgba(0, 178, 114,1);
        border:1px solid rgba(0, 178, 114,1);
        font-size: 16px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}




.product-rating{
    margin-top: 10px;
}
.product-image{

    img{

        max-height: 340px;
        min-height: 340px;
    }


}



.small{
    margin-top: 10px;
    .single-item{

        .single-product {
            margin-top: 20px;
            //    padding: 10px;
            padding-bottom: 0px;

            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            border: 1px outset rgba(0,0,0,0.08);

            .product-image {

                img {

                    max-height: 138px!important;
                    min-height: 138px!important;
                }


            }

            .add-action{
                padding-left: 10px!important;
                padding-top: 20px!important;

                .ion-bag{

                    display: block;
                    padding-top: 10px;

                }
                .cart-qt-btn-plus,.cart-qt-btn-minus{
                    margin-top: 15px;
                    padding: 0px 2px;
                    min-height: 26px !important;
                    max-height: 26px !important;
                }
                .cart-delete-product{
                    margin-top: 15px;
                    padding: 0px 2px;
                    min-height: 26px !important;
                    max-height: 26px !important;
                }
                .cart-view-btn{
                    display: block;
                    padding-top: 10px;

                }
            }
            .product-content {
                //display: none !important;
                //margin-left: -10px;
                //margin-right: -10px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 0 10px 20px!important;


                .product-rating{
                    i{

                        font-size: 10px;
                    }
                }
                .product-title{
                    margin-bottom: 5px!important;
                    h4{
                        font-size: 14px;
                        //margin-left: -20px;
                        //margin-right: -20px;
                    }
                }

                .price-box{
                    .regular-price{
                        font-size: 12px;
                    }
                    .old-price{
                        font-size: 12px;
                    }
                }
            }

        }

    }
}



.pagination{
    overflow: auto;
    li{
        padding: 0px 5px;
        margin: 0px;
    }
    margin-bottom: 10px;
}

.pagination-page-btn {

      //  background-color: red;
        cursor: pointer !important;
    border-bottom:1px solid rgba(0,0,0,0.2);

    margin-right: 5px!important;

}

.pagination-page-btn.active{
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
    border-bottom:1px solid rgba(0,0,0,0.8);
}
.pagination-page-btn:hover {

      //  background-color: red;
        transition: all ease-in-out 500ms;
    background-color: rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(0,0,0,0.5);

}

.subcat-no{
    position: relative;
    right: 0;
    display: inline-block;
    font-size: 11px;
    font-weight: 700!important;
}

.empty-cart-text{
    a{
        margin-top: -20px;
    }
    img{
        max-height: 80px;
        margin-top: 8px;
    }

}
.cart-calculator-wrapper{
    margin-top: 0px;
}
.cart-subtotal-div{

    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background-color: rgba(0,0,0,0.03);

}

.cart-subtotal-checkout{
    border-bottom-left-radius:15px !important;
    border-bottom-right-radius:15px !important;

}


.cart-qt-btn-minus{
    margin-top: 1px;
    // margin-right: 10px;
    min-height: 37px!important;
    color: rgba(220, 53, 69);
    border:1px solid rgba(220, 53, 69);

    //  padding: 5px 10px;
    //font-size: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 10px;

}
.cart-qt-btn-plus{
    margin-top: 1px;
    //   margin-left: 10px;
    min-height: 37px!important;
    color:  #54b175;
    border:1px solid #54b175;
    //    padding: 5px 10px;
    //font-size: 10px;


    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

.subtotal-div{
    font-size: 90%;
}

.btn-qt{
    cursor: no-drop!important;
    border: 1px solid rgba(0,0,0,0.2)!important;
    padding: 10px;

    // border-top: 1px solid #54b175!important;
    //  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
}

.cart-qt-btn-plus:hover{
    transition: all ease-in-out 500ms;
    background-color:  #54b175;
    color: white;

}
.cart-qt-btn-minus:hover{
    transition: all ease-in-out 500ms;
    background-color:  rgba(220, 53, 69);
    color: white;

}

.cart-qt-text{
    margin-top:1px;
    text-align: center;
    //padding: 0px 10px;
    //border: 1px solid  #54b175;
    //font-size: 10px;
    // margin-top: 1px;
    // padding: 6px 1px;
    // min-height: 20px;
    //// max-height: 37px;
    // min-width:  20%!important;
    // line-height: 24px;

}

.cart-delete-product{
    padding: 5px 10px;
    border: 1px solid  rgba(220, 53, 69,0.5);
    margin-top: 3px;
}


.waiting-input{
    background-color: rgba(255,255,255,0.6)!important;
}


.login-side{


    .login-register-wrapper{
        background-color: #54b175;

        .title-4{
            color: rgba(255,255,255,0.9);
        }

    }
    color: rgba(255,255,255,0.9);
    .btn-register{
        background-color: rgba(255,255,255,0.5);
        padding: 10px 15px;
        cursor: pointer;
    }

    .btn-register:hover{
        background-color: rgba(255,255,255,0.8);
        padding: 10px 15px;
    }
}


.R-Mart-button-2{
    width: 100%!important;
}

.empty-cart{

    .cart-text{
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        box-shadow: 5px 5px 1px 1px rgb(245, 245, 245);
        // box-shadow: 5px 5px 1px 1px #54b175;
        flex: auto;
        display: flex;
        border: 1px solid rgb(245, 245, 245);
        cursor: not-allowed!important;
        //  border: 1px solid #54b175;
        transition: all ease-in-out 2000ms;
        img{
            cursor: not-allowed!important;
            //display: flex;
            flex: auto;
            max-height: 50px;
            //display: inline-block;
            filter: grayscale(100%) ;

        }
        h5{
            cursor: not-allowed!important;
            flex: 12;
            line-height: 40px;
            //display: inline-block;
            a{
                color:darken(rgb(245, 245, 245),20%);
            }

        }
    }

    .cart-text:hover{
        transition: all ease-in-out 2000ms;
        box-shadow: 5px 5px 1px 1px darken(rgb(245, 245, 245),20%);
        border: 1px solid darken(rgb(245, 245, 245),20%);
        img{
            transition: all ease-in-out 2000ms;
            filter: grayscale(0%) ;

        }
        h5{
            a{
                transition: all ease-in-out 2000ms;
                color: black!important;
                cursor: not-allowed!important;
            }
        }
    }

}

.cart-price-total{
    transition: all ease-in-out 200ms;
    padding-left:15px !important;
    padding-right:15px !important;
    border: 1px solid rgba(0,0,0,0.65)!important;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.3);
    .custom-currency{
        font-weight: 500;

    }
    .custom-amount{
        letter-spacing: 1.5px;
    }
    .custom-tax-perfix{
        letter-spacing: 1px;
        font-size: 10px;
        color: rgba(0,0,0,0.65);
        font-weight: 500;
        margin-left: 5px;
    }


}

.cart-price-total:hover{

    .custom-currency{
        font-weight: 500;

    }
    //text-shadow: 2px 2px 2px rgba(81,178,117,0.65);
    border: 1px solid rgba(81,178,117,0.65)!important;
   // border-right: 1px solid rgba(81,178,117,0.65);
    box-shadow: 5px 8px 1px 1px rgba(0,0,0,0.3);
    transition: all ease-in-out 200ms;
  //  border-radius:20px ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px;
    border-top-right-radius: 5px;
    .custom-currency{
        font-weight: 500;


    }


}



.custom-cart-delete-btn{

    padding: 1px 15px;
    border: 1px solid rgba(0,0,0,1);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.3);
}

.custom-cart-delete-btn:hover{
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #c50101!important;
    border: 1px solid #c50101;
    box-shadow: 5px 8px 1px 1px rgba(0,0,0,0.3);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;


}


.single-cart-item{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 20px;
    cursor: pointer;
    .cart-img{
        border: 0 !important;
        margin-left: 10px;
        margin-right: 10px;
        a{
            img{

                transition: all ease-in-out 200ms;
                border: 1px solid rgba(0,0,0,0.65);
                box-shadow: -5px 5px 1px 1px rgba(0,0,0,0.3);
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 2px;
                border-top-left-radius: 2px;
            }
        }

        a:hover{
            img{
                transition: all ease-in-out 200ms;
                box-shadow: 5px 8px 1px 1px rgba(0,0,0,0.3);
                border-bottom-left-radius: 2px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }


}
.single-cart-item:last-of-type{
    border-bottom-color: #c50101!important;
    border-bottom-width: 2px;
    border-bottom-style: dashed;

    padding-bottom:25px ;
    position: sticky;
    top: auto;
}


.single-cart-item:hover{

    border: 1px solid rgba(0,0,0,0.65);
    padding: 9px;
    padding-bottom: 20px;


}
.single-cart-item:last-of-type:hover{
    border-color:#c50101!important;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    padding-bottom: 25px;

}



[v-cloak] { display: none; }


.cart-item-wrapper{
    margin-top: 5px;
    border-top: 1px solid rgba(245, 245, 245,1);
    padding-top: 1px;

}

.custom-y-scroll-cart{

    max-height: 250px;
    overflow-y: scroll;
    margin-right: -15px;
    padding-right: 15px;

}


.custom-y-scroll-cart::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.custom-y-scroll-cart::-webkit-scrollbar-track {
    background-color:#fff
}
.custom-y-scroll-cart::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
.custom-y-scroll-cart::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.custom-y-scroll-cart::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.custom-y-scroll-cart::-webkit-scrollbar-button {display:none}

@import "loading";

.loading-box{
    text-align: center;
    padding-bottom: 40px;
    h6{
        margin-top: 20px;
        min-height: 19px;
        transition: all ease-in-out 500ms;
        color: rgba(0,0,0,0.7)!important;

        span:last-of-type{
            transition: all ease-in-out 300ms;
            color: darken(#54b175,6%);
            padding-top: 10px;

        }
        span:nth-last-of-type(2){
            transition: all ease-in-out 300ms;
            color: darken(#54b175,5%);
            padding-top: 5px;

        }
        span:nth-last-of-type(3){
            transition: all ease-in-out 300ms;
            color: darken(#54b175,4%);


        }

    }
}


.input-has-error{

    input{
        border: 1px solid #c50101!important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .alert {
        padding: 5px 15px;
        margin-top: -20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }
}



@media (max-width: 575.98px) {


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}



//
//@import "~bootstrap/scss/_functions";
//@import "~bootstrap/scss/_variables";
//
//@import "~bootstrap/scss/mixins/_breakpoints";
//
//
//@include media-breakpoint-up(xs) {
//
//    .popular-product{
//        transition: all ease-in-out 500ms;
//        float: right;
//        background: $default-color;
//        color: $white-color;
//        margin-right: -30px;
//        padding: 10px 20px;
//        box-shadow: -5px 5px 1px 0 rgba(0,0,0,0.4);
//     //   margin-top: -42px;
//    }.popular-product:hover{
//         transition: all ease-in-out 500ms;
//         float: right;
//         background: $default-color;
//         color: $white-color;
//         margin-right: -30px;
//         padding: 10px 20px;
//         box-shadow: -10px 8px 2px 0 rgba(0,0,0,0.3);
//      //   margin-top: -42px;
//     }
//}
//@include media-breakpoint-up(sm) {
//    .popular-product{
//        transition: all ease-in-out 500ms;
//        float: right;
//        background: $default-color;
//        color: $white-color;
//        margin-right: -30px;
//        padding: 10px 20px;
//        box-shadow: -5px 5px 1px 0 rgba(0,0,0,0.4);
//     //   margin-top: -42px;
//    }.popular-product:hover{
//         transition: all ease-in-out 500ms;
//         float: right;
//         background: $default-color;
//         color: $white-color;
//         margin-right: -30px;
//         padding: 10px 20px;
//         box-shadow: -10px 8px 2px 0 rgba(0,0,0,0.3);
//      //   margin-top: -42px;
//     }
//
//
//}
//
//@include media-breakpoint-up(md) {
//
//}
//
//@include media-breakpoint-up(lg) {
//
//
//}
//
//@include media-breakpoint-up(xl) {
//
//
//}



.offcanvas-curreny-lang-support{
    margin-top:0 ;
}
